/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Frontend ###
/src/main/frontend/node/
/src/main/frontend/node_modules/
/src/main/frontend/.sass-cache
/src/main/frontend/connect.lock
/src/main/frontend/coverage/
/src/main/frontend/libpeerconnection.log
/src/main/frontend/npm-debug.log
/src/main/frontend/yarn-error.log
/src/main/frontend/testem.log
/src/main/frontend/typings