@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* Application-wide Styles */
h1 {
  color: #1b486f;
  font-family: Roboto, Arial, sans-serif;
  font-size: 150%;
}
h2, h3 {
  color: #1f6799;
  font-weight: lighter;
}
body {
  margin: 2em;
}
/* everywhere else */
* {
  font-family: Roboto, Arial, sans-serif;
}
