<div *ngIf="app || isNew">

  <h3>{{isNew ? "Create New Application" : "Application Details"}}</h3>

  <div class="form-container">
    <mat-form-field *ngIf="!isNew">
      <input matInput placeholder="App ID:" [value]="app.id" disabled>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Name:" [(ngModel)]="app.name">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Type:" [(ngModel)]="app.type" [required]="true">
        <mat-option *ngFor="let appTypeOpt of appTypes" [value]="appTypeOpt.name">
          {{appTypeOpt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Content Type:" [(ngModel)]="app.contentTypes" multiple>
        <mat-option *ngFor="let contentTypeOpt of contentTypes" [value]="contentTypeOpt">
          {{contentTypeOpt}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="User ID:" [value]="app.userId" disabled>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button (click)="goBack()">Go back</button>

    <button mat-raised-button *ngIf="!isNew" (click)="update()" class="saveButton" color="primary">Save</button>
    <button mat-raised-button *ngIf="isNew" (click)="create()" class="saveButton" color="primary">Create app</button>
  </div>
</div>
